[global_config]
  title_transmit_fg_color = "#eeeeee"
  title_transmit_bg_color = "#121212"
  title_inactive_fg_color = "#eeeeee"
  title_inactive_bg_color = "#121212"

[profiles]
  [[default]]
    palette = "#121212:#ff8787:#d7ffaf:#ffffd7:#afffff:#ffd7ff:#afffd7:#eeeeee:#121212:#ff8787:#d7ffaf:#ffffd7:#afffff:#ffd7ff:#afffd7:#eeeeee"
    foreground_color = "#eeeeee"
    background_color = "#121212"
    cursor_color = "#eeeeee"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
