[global_config]
  title_transmit_fg_color = "#626262"
  title_transmit_bg_color = "#626262"
  title_inactive_fg_color = "#626262"
  title_inactive_bg_color = "#626262"

[profiles]
  [[default]]
    palette = "#626262:#d70000:#00af00:#d78700:#0087d7:#af00af:#00afaf:#ffffff:#626262:#d70000:#00af00:#d78700:#0087d7:#af00af:#00afaf:#ffffff"
    foreground_color = "#626262"
    background_color = "#ffffff"
    cursor_color = "#626262"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
