[global_config]
  title_transmit_fg_color = "#bcbcbc"
  title_transmit_bg_color = "#303030"
  title_inactive_fg_color = "#bcbcbc"
  title_inactive_bg_color = "#303030"

[profiles]
  [[default]]
    palette = "#303030:#d75f5f:#87af5f:#afaf87:#5fafd7:#af87af:#5faf87:#bcbcbc:#303030:#d75f5f:#87af5f:#afaf87:#5fafd7:#af87af:#5faf87:#bcbcbc"
    foreground_color = "#bcbcbc"
    background_color = "#303030"
    cursor_color = "#bcbcbc"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
