[global_config]
  title_transmit_fg_color = "#444444"
  title_transmit_bg_color = "#444444"
  title_inactive_fg_color = "#444444"
  title_inactive_bg_color = "#444444"

[profiles]
  [[default]]
    palette = "#444444:#af0000:#008700:#af5f00:#005faf:#870087:#008787:#ffffff:#444444:#af0000:#008700:#af5f00:#005faf:#870087:#008787:#ffffff"
    foreground_color = "#444444"
    background_color = "#ffffff"
    cursor_color = "#444444"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
