[global_config]
  title_transmit_fg_color = "#eeeeee"
  title_transmit_bg_color = "#303030"
  title_inactive_fg_color = "#eeeeee"
  title_inactive_bg_color = "#303030"

[profiles]
  [[default]]
    palette = "#303030:#ff8787:#d7ffaf:#ffffd7:#afffff:#ffd7ff:#afffd7:#eeeeee:#303030:#ff8787:#d7ffaf:#ffffd7:#afffff:#ffd7ff:#afffd7:#eeeeee"
    foreground_color = "#eeeeee"
    background_color = "#303030"
    cursor_color = "#eeeeee"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
