[global_config]
  title_transmit_fg_color = "#d7d7d7"
  title_transmit_bg_color = "#121212"
  title_inactive_fg_color = "#d7d7d7"
  title_inactive_bg_color = "#121212"

[profiles]
  [[default]]
    palette = "#121212:#ff5f5f:#afd787:#d7d7af:#87d7ff:#d7afd7:#87d7af:#d7d7d7:#121212:#ff5f5f:#afd787:#d7d7af:#87d7ff:#d7afd7:#87d7af:#d7d7d7"
    foreground_color = "#d7d7d7"
    background_color = "#121212"
    cursor_color = "#d7d7d7"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
