[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#4d4d4d"

[profiles]
  [[default]]
    palette = "#000000:#cc0403:#19cb00:#cecb00:#001cd1:#cb1ed1:#0dcdcd:#e5e5e5:#4d4d4d:#3e0605:#23fd00:#fffd00:#0026ff:#fd28ff:#14ffff:#ffffff"
    foreground_color = "#ffffff"
    background_color = "#000000"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
