[global_config]
  title_transmit_fg_color = "#d7d7d7"
  title_transmit_bg_color = "#303030"
  title_inactive_fg_color = "#d7d7d7"
  title_inactive_bg_color = "#303030"

[profiles]
  [[default]]
    palette = "#303030:#ff5f5f:#afd787:#d7d7af:#87d7ff:#d7afd7:#87d7af:#d7d7d7:#303030:#ff5f5f:#afd787:#d7d7af:#87d7ff:#d7afd7:#87d7af:#d7d7d7"
    foreground_color = "#d7d7d7"
    background_color = "#303030"
    cursor_color = "#d7d7d7"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
